<nav class="border-gray-200">
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto p-4">
        <a href="{{ path('app_home') }}" class="flex items-center">
            <img src="{{ asset('logo.png') }}" class="h-8 mr-3" alt="Prayers Logo" />
            <span class="self-center text-3xl font-bold whitespace-nowrap dark:bg-gradient-to-tr from-slate-100 via-gray-300 to-gray-500 bg-clip-text text-transparent">Prayers</span>
        </a>
        <div class="flex items-center md:order-2">
            <a href="#" class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Login</a>
            <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Sign up</a>
        </div>
    </div>
</nav>
